.exp {
    margin-left: 250px;
    display: inline-flex;
    margin-top: 400px;
    margin-bottom: 200px;
}

.exp img {
    width: 1300px;
    height: 900px;
    margin-right: 150px;
    margin-left: 150px;
    border: 05px solid greenyellow;
    border-radius: 40px;
}

.exp img:hover {
    transform: scale(1.1);
}

.exp h1 {
    font-size: 200px;
    padding-top: 250px;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 10px;
    color: greenyellow;
    text-decoration: underline;
}

.exp p {
    font-size: 75px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 10px;
    margin-top: 200px;
    text-align: center;
}