.intro {
    margin-left: 312px;
    display: inline-flex;
    margin-top: 400px;
    margin-bottom: 100px;
    }

.helloPhoto {
    width: 1000px;
    height: 1000px;
    margin-right: 180px;
    margin-left: 550px;
    border: 05px solid greenyellow;
    border-radius: 40px;
}

.alex {
    font-size: 250px;
    padding-top: 250px;
    padding-left: 40px;
    padding-right: 40px;
    color: greenyellow;
    text-decoration: underline;
}

.hi {
    font-size: 100px;
    padding-top: 350px;
    padding-left: 40px;
    padding-right: 40px;
}

.software {
    font-size: 100px;
    padding-top: 350px;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: 950px) {
    .intro {
        margin-left: 0px;
        display: inline-flex;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .helloPhoto {
        width: 200px;
        height: 200px;
        margin-right: 180px;
        margin-left: 50px;
        border: 05px solid greenyellow;
        border-radius: 40px;
        position:absolute;
        top: 500px;       
    }

    .alex {
        font-size: 50px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        color: greenyellow;
        text-decoration: underline;
    }

    .hi {
        font-size: 35px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .software {
        font-size: 35px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        top: 300px;
    }
    
}
