.portPage img {
    width: 800px;
    height: 600px;
    margin-left: 150px;
    margin-right: 50px;
    border: 05px solid greenyellow;
    border-radius: 40px;
    margin-bottom: 1000;

}

.portPage figcaption {
    font-size: 65px;
    margin-left: 160px;
}

.portPage {
    display: inline-flex;
    margin-top: 400px;
}

.portPage h1 {
    font-size: 250px;
    padding-top: 350px;
    padding-left: 10px;
    padding-right: 10px;
    color: greenyellow;
    text-decoration: underline;
}
