.resume {
    margin-left: 250px;
    margin-top: 200px;
    display: inline-flex;
}

.resume img {
    width: 1200px;
    height: 1300px;
    margin-right: 350px;
    margin-left: 150px;
    border: 05px solid greenyellow;
    border-radius: 40px;
}

.resume h1 {
    font-size: 200px;
    padding-top: 350px;
    padding-left: 10px;
    padding-right: 10px;
    color: greenyellow;
    text-decoration: underline;
}

.resume h2 {
    font-size: 75px;
    padding-top: 425px;
    padding-left: 100px;
    padding-right: 60px;
    text-align: center; 
}

@media screen and (max-width: 950px) {
    .resume {
        margin-left: 0px;
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .resume img {
        width: 350px;
        height: 400px;
        margin-right: 1px;
        margin-left: 0px;
        border: 05px solid greenyellow;
        border-radius: 40px;
        position:absolute;
        top: 400px;
        left: 50px;       
    }

    .resume h1 {
        font-size: 70px;
        padding-top: 10px;
        padding-left: 90px;
        padding-right: 20px;
        color: greenyellow;
        text-decoration: underline;
    }

    .resume h2 {
        font-size: 35px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 200px;
    }
}